body{
    background-color:white;
    width:auto;
    height:auto;
   
}
.intro-page{
   margin-left: 203px;
  margin-right: 203px;
  
}
.intro-page h2{
   font-size: 25px;
  font-weight: 900;
  color: #499bea;
}
.intro-page p
{
   color: #071c55;
   font-size: 16px;
   font-weight: 800;
}

.flex-p {
   display: flex;

flex-wrap: wrap;

align-items: center;

}

.flex-p .image-p{
   flex-basis: 30%;
max-width: 30%;
padding: 10px;
}
.flex-p .content-p {
flex-basis: 100%;
max-width: 100%;
padding: 21px;

}
.flex-p .content-p li{


}
.intro-page a{
/* background-color: #25dfce; */
font-size: 60x;
font-weight: 900;
color: #131001;

}     

.intro-page button{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#499bea+33,207ce5+67 */
background: #499bea; /* Old browsers */
background: -moz-linear-gradient(top,  #499bea 33%, #207ce5 67%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #499bea 33%,#207ce5 67%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #499bea 33%,#207ce5 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */


float: right;
border-radius: 25px;
transition:0.5s;
color:white;

}  
.intro-page button:hover{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#29b8e5+50,bce0ee+90 */
background: #29b8e5; /* Old browsers */
background: -moz-linear-gradient(top,  #29b8e5 50%, #bce0ee 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #29b8e5 50%,#bce0ee 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #29b8e5 50%,#bce0ee 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */

color:white;
border-radius: 25px;


}
.flex-p-inside{
display:flex;
flex-wrap:wrap;
align-items:center;
position:relative;

}
.flex-p-1{
flex-basis: 10%;
max-width: 7%;
position: absolute;
top: -42px;


}
.flex-p-2{
flex-basis: 100%;
max-width: 100%;
}
li{
list-style-type:none;
display:block;
}
.flex-p-1 li a button i { 
color:white;
}
.result-color1{
   background: #499bea;
   background: -moz-linear-gradient(top, #499bea 33%, #207ce5 67%);
   background: -webkit-linear-gradient(top, #499bea 33%,#207ce5 67%);
   background: linear-gradient(to bottom, #499bea 33%,#207ce5 67%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
   border-radius: 25px;
   transition: 0.5s;
   color: white;
border-radius:20px;
font-weight:900;

padding:10px;

font-size:16px;
cursor:pointer;
}
.result-color1:hover{
   background: #29b8e5;
   background: -moz-linear-gradient(top, #29b8e5 50%, #bce0ee 90%);
   background: -webkit-linear-gradient(top, #29b8e5 50%,#bce0ee 90%);
   background: linear-gradient(to bottom, #29b8e5 50%,#bce0ee 90%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#bce0ee',GradientType=0 );
   color: white;
   border-radius: 25px;
}
.result-color1 i
{
 color:white;
 padding:5px;
}
.result-color1 i:hover{
   color:black;
}
.result-red{
   background: #e44141;
   background: -moz-linear-gradient(top, #ea4949 33%, #e52020 67%);
   background: -webkit-linear-gradient(top, #ea4949 33%,#e52020 67%);
   background: linear-gradient(to bottom, #ea4949 33%,#e52020 67%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52020', endColorstr='#e52020',GradientType=0 );
   border-radius: 25px;
   transition: 0.5s;
   color: white;
border-radius:20px;
font-weight:900;

padding:10px;

font-size:16px;
cursor:pointer;
}
.result-red:hover{
   background: #e52929;
   background: -moz-linear-gradient(top, #e52929 50%, #eebcbc 90%);
   background: -webkit-linear-gradient(top, #e52929 50%,#eebcbc 90%);
   background: linear-gradient(to bottom, #e52929 50%,#eebcbc 90%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52929', endColorstr='#eebcbc',GradientType=0 );
   color: white;
   border-radius: 25px;
}
.result-color1 h5
{
 color:white;
 padding:5px;
}